







{% extends "base.html" %}


{% block content %}




<div class="row">
    <div class="col-md-9 mb-2">
        
        <div class="">
            <div class="rounded-2 shadow p-3 mb-4" >
            <h1 class="mb-3 mycolor1">О нас</h1>
            <p class="fs-5"> 
            Семинары, курсы повышения квалификации, программы профессиональной подготовки по различным направлениям стоматологии. Преподаватели и консультанты. Ведущие специалисты, спикеры мирового уровня по всем направлениям стоматологии.
            </p>
            <br>
            <form action="https://www.instagram.com/docere_education/">
                <input type="submit" class="btn btn-success w-100" value="Подробнее"/>
            </form>
        </div>
        <iframe width="100%" height="450" src="https://www.youtube.com/embed/t9lJZ_L6O94" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="mt-4">
            <i class="bi bi-telephone mx-2"> </i> 998 33 860 80 20 
            <a href="https://www.instagram.com/docere_education/" style="color: #252c62;"><i class="bi bi-instagram mx-3"></i></a>  
            <a href="https://www.facebook.com/docereeducation?mibextid=LQQJ4d"style="color: #252c62;" ><i class="bi bi-facebook"></i></a>  
        </div>
    
    </div>
        
    </div>

    <div class="col-md-3">
        {% include 'sidebar.html' %}
    </div>
</div>










{% endblock %}