
{% extends "base.html" %}
{% block content %}

<h1 class="mb-3">Курсы</h1>


<div class="row">
    <div class="col-md-9 mb-2">
        {% for course in courses %}
        <a href="/detail/{{course.id}}">
            <div class="mb-2 shadow p-3 rounded-2">
                <div class="">
                    <h4>{{course.title}}</h4>
                    <div class="row">
                        <div class="col-6"><p class="">{{course.author.name}}</p> </div>
                        <div class="col-6"><p class="">{{course.startdate}}</p></div>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>

    <div class="col-md-3">
        {% include 'sidebar.html' %}
    </div>
</div>


{% endblock %}