{% extends "base.html" %}


{% block content %}
	<h1>hello</h1>

	<a href="https://api.paybox.money/payment.php?pg_merchant_id=546973&pg_amount=100&pg_currency=USD&pg_description=Prof.+Benedict+Wilmes&pg_salt=pcXPUNdRw0oUbfak&pg_language=ru&pg_sig=81d7867cd67c300782981f2b9b2a01fd">Оплатить «Prof. Benedict Wilmes» через PayBox.money</a>


	<a href="https://api.paybox.money/payment.php?pg_merchant_id=546973&pg_amount=100&pg_currency=USD&pg_description=Prof.+Benedict+Wilmes&pg_salt=pcXPUNdRw0oUbfak&pg_language=ru&pg_sig=81d7867cd67c300782981f2b9b2a01fd">Оплатить «Prof. Benedict Wilmes» через PayBox.money</a>


	{% endblock %}
