
<div class="shadow p-3 rounded-2 mb-4">
    <h4>Рекомендуем</h4>

    <div>{% for i in r %}
        <hr>
        <div class="my-3"><a href="/detail/{{i.id}}"> {{i.title}}</a> </div>
        
        {% endfor %}


    </div>
    

</div>

<div class="shadow p-3 rounded-2">
    <form action="/connection" method="POST"> {% csrf_token %}
        <h4>Обратная связь</h4>
        <hr>
        <input type="text" name="name" id="Name1" class="form-control mb-2" placeholder="Имя" required>
        <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">+</span>
        </div>
        <input type="text" name="phone" pattern="[789][0-9]{11}" class="form-control mb-2" id="" required
            placeholder="Телефон" aria-describedby="basic-addon1">
        </div>
        <input type="email" name="email" class="form-control mb-2" id="" required
            placeholder="Почта">
        <input type="textarea" name="message" class="form-control mb-2" id=""
            placeholder="Сообщение">
        <button class="btn btn-primary w-100">Отправить</button>
    </form>

</div>
